#header {
    height: 200px;
    width: 100%;
    background-color: hotpink;
    font-family: "Brush Script MT", cursive;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;      
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}


@media (max-width: 600px) {
  #header {
    height: 150px;
    width: 100vw;
    padding: 20px;
    font-size: .8rem;
  }
}