#header {
    height: 200px;
    width: 100%;
    background-color: hotpink;
    font-family: "Brush Script MT", cursive;
    color: rgb(213, 213, 213);
    display: flex;             
    justify-content: center;    /* centers horizontally */
    align-items: center;        /* centers vertically */
    text-align: center;
}