#index-container {
    display: flex;           
    align-items: flex-start;
    gap: 20px;     
}

#index-container img{
    max-width: 25vw;
    height: auto;
}

#index-container .text{
    flex: 1;
}

